{% extends 'base.html.twig' %}

{% block body %}
<h1> Liste des articles </h1>

<ul>
  {% for article in article %}
      {{ include('front/onearticle.html.twig', { 'article': article }) }}

       <h2>   {{ article.name }}      </h2>
       <p>    {{ article.content }}    </p>
       <p><i> Ecrit par  <strong>{{ article.author }}</strong>  le  {{ article.date|date("d/m/Y") }}  </i>
       <br>   Catégorie : {{ article.category }}
       <br>   Tag : {{ article.tag }}  </p>

  {% endfor %}
</ul>

{% endblock body %}
